AIRLOCK_HTTP_PORT=8080
AIRLOCK_OPCUA_PORT=4841
ECLSS_OPCUA_PORT=4842
SABATIER_OPCUA_PORT=4843
POWERGRID_OPCUA_PORT=4844
AIRLOCK_OPCUA_BIND_HOST=0.0.0.0
# Set to this machine's LAN IP for remote UAExpert access (auto-detected if unset)
#AIRLOCK_OPCUA_HOST=192.168.1.100
AIRLOCK_OPCUA_ENDPOINT_PATH=/underhill/airlock
#AIRLOCK_OPCUA_ENDPOINT_URL=opc.tcp://192.168.1.100:4841/underhill/airlock
AIRLOCK_SECURITY_PROFILE=NONE
MURPH_NODE_ID=local
ZENOH_ROUTER=
UNS_MQTT_BROKER=
UNS_MQTT_CLIENT_ID=underhill-uns-publisher
UNS_MQTT_USERNAME=
UNS_MQTT_PASSWORD=
RUST_LOG=info

# launch script behavior
AIRLOCK_NONINTERACTIVE=0
AIRLOCK_AUTO_KILL_PORT=0
